.tuhover {
    position: relative;
}

.tutooltip {
    /* hide and position tooltip */
    left: 10px;
    width: max-content;
    background-color: black;
    color: white;
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    padding: 10px 10px;
    z-index: 10;
}

.tucompartido {
    font-size: 9pt;
}

.tuhover:hover .tutooltip {
    /* display tooltip on hover */
    opacity: 1;
}