/* Tooltip container */
.tutooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tutooltip .tutooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    padding: 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: -5px;
    left: 105%;
    z-index: 10;

    /* Fade in */
    opacity: 0;
    transition: opacity 0.2s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tutooltip:hover .tutooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Course text */
.tucompartido {
    display: block;
    font-size: 9pt;
    margin: 14px;
    text-align: left;
}